html, body, a {
    background: #ccc;
    color: #000;
}

#content {
    width: 700px;
    p  {
        width: 410px;
        margin: 10px auto;
    }
    margin: 100px auto 20px;
    text-align: center;
}

input, button {
    font-size: 120%;
    border: 1px solid #666;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 10px;
}


#messages, #messages2 {
    .error {
        color: red;
        font-weight: bold;
    }
    .success {
        color: green;
    }
}

.panel {
    border: 1px solid #aaa;
    border-radius: 6px;
    margin: 30px 0;
    padding: 20px;
}

h2 {
    font-size: 120%;
    margin-top: 0;
}

#conversion-result {
    padding-top: 20px;
    font-size: 110%;
    color: #006;
}
